        /*Import link for the Josefin Slab font from fonts.google.com*/
    
    @import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap");
    /*Import link for the Sacramento font from fonts.google.com*/
    
    @import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
    html {
        scroll-behavior: smooth;
        /*creates smooth scrolling effect when a bookmark link is clicked*/
    }
    /*NAVBAR*/
    
    .nav-bar {
        position: sticky;
        top: 0;
        z-index: 9;
    }
    
    ul {
        display: flex;
        /* Creates a flex-container which will expand or 
    shrink elements to fill the space available to them and place the 
    elements side by side horizontally */
        list-style-type: none;
        /*Removes default styling for unordered list elements */
        align-items: center;
        margin: -8px -10px 0px -10px;
        overflow: hidden;
        /*Prevents the browser from displaying a right to left scroll 
    bar as a result from the minus margin values*/
        background-color: rgb(1, 128, 106);
        border-bottom: 5px solid rgb(247, 177, 188);
    }
    
    a {
        display: block;
        /*Displays anchor elements vertically on a new line,
   this was added so the drop down menu displays properly and not horizontally on the screen*/
        font-family: "Josefin Slab", serif;
        /*add comment for this*/
        font-size: 25px;
        font-weight: 800;
        color: rgb(247, 177, 188);
        text-align: center;
        width: 100px;
        padding: 30px;
        text-decoration: none;
        transition: background-color 0.4s ease-in;
    }
    /*NAV BAR ROLLOVER*/
    /*add comment for this basically how this works*/
    
    a:hover,
    .drop:hover a:only-of-type
    /*drop:hover a:only-of-type will keep the background color blue while 
hovering and the text white when we move the mouse over anchor elements in the 
rollover-menu div*/
    
    {
        background-color: rgb(149, 238, 223);
        color: white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
        transition: background-color 0.3s ease-in;
    }
    
    .rollover-menu {
        display: none;
        /*prevents anchor links in div tag from 
    showing on the web browser until a hover effect is triggered*/
        position: absolute;
        /*Absolute will position the div element 
    relative to the parent list element position*/
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        /*margin-top: 0.5px; add when the top pink border is added*/
    }
    
    .drop:hover .rollover-menu {
        display: block;
    }
    
    .rollover-menu a {
        color: rgb(0, 80, 67);
    }
    
    .rollover-menu a:hover {
        color: white;
        box-shadow: 0px 8px 16px 0px rgba(90, 90, 90, 0.2);
    }
    
    .rollover-menu a:nth-child(1) {
        border-top: 5px solid rgb(238, 118, 136);
    }
    /*BODY*/
    
    .container {
        display: inline-block;
        background-size: 100%;
        padding-top: 60px;
        padding-left: 30px;
    }
    /*IMAGES*/
    
    .column {
        float: left;
        width: 48%;
        /*this will perfectly center the images side by side*/
        /*    padding-left: 15px;
}


/*
.column img:nth-child(-n+7)
/*add comment for this*/
        /*
{
    margin: auto;
    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*add comment for this*/
        /* display: table;
    justify-content: center;
    /*add comment for this*/
        /*
}*/
        /*HEADERS*/
        /*
h1,
h2,
h3,
h4 {
    text-align: center;
}

h1 {
    font-family: "Sacramento", cursive;
    font-size: 80px;
    color: rgb(0, 80, 67);
    padding-left: 50px;
}

h2,
h4,
h3 {
    font-family: "Josefin Slab", serif;
}

h3 {
    font-size: 30px;
}

h2 {
    color: rgb(0, 80, 67);
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: rgb(247, 177, 188);
}

h4 {
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: -8px;
}


/*PARAGRAPHS*/
        /*
p {
    margin-top: 20px;
    text-align: center;
    font-family: "Josefin Slab", serif;
    /*add comment for this*/
        /*  font-size: 20px;
    font-weight: 600;
    color: rgb(0, 80, 67);
}*/