/*add comment for this*/

@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

/*add comment for this*/

@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap");

/*Affects all the code in between the html tags*/

html {
    scroll-behavior: smooth;
    /*creates smooth scrolling effect when a bookmark link is clicked*/
}


/*Affects only the code within the body tags*/

body {
    overflow-x: hidden;
}


/*NAV BAR*/

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 9;
}

ul {
    display: flex;
    /*add comment for this*/
    align-items: center;
    margin: -8px -20px -1px -20px;
    /*add comment for this*/
    overflow: hidden;
    list-style-type: none;
    /*add comment for this*/
    background-color: rgb(1, 128, 106);
    border-bottom: 5px solid rgb(247, 177, 188);
}

a {
    display: block;
    font-family: "Josefin Slab", serif;
    /*add comment for this*/
    font-size: 25px;
    font-weight: 800;
    color: rgb(247, 177, 188);
    text-align: center;
    width: 100px;
    padding: 30px;
    text-decoration: none;
    transition: background-color 0.4s ease-in;
}


/*NAV BAR ROLLOVER*/


/*add comment for this basically how this works*/

a:hover,
.drop:hover a:only-of-type {
    background-color: rgb(149, 238, 223);
    color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in;
}

.rollover-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /*margin-top: 0.5px; add when the top pink border is added*/
}

.drop:hover .rollover-menu {
    display: block;
}

.rollover-menu a {
    color: rgb(0, 80, 67);
}

.rollover-menu a:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(90, 90, 90, 0.2);
}


/*add comment for this*/

.rollover-menu a:nth-child(1) {
    border-top: 5px solid rgb(238, 118, 136);
}


/*HEADERS*/

h1,
h2,
h3,
h4 {
    text-align: center;
}

h1 {
    font-family: "Sacramento", cursive;
    font-size: 80px;
    color: rgb(0, 80, 67);
    padding-left: 50px;
}

h2,
h4,
h3 {
    font-family: "Josefin Slab", serif;
}

h3 {
    font-size: 30px;
}

h2 {
    color: rgb(0, 80, 67);
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: rgb(247, 177, 188);
}

h4 {
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: -8px;
}


/*BODY*/


/*add comment for this*/

p {
    margin-top: 20px;
    text-align: center;
    font-family: "Josefin Slab", serif;
    /*add comment for this*/
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 80, 67);
}

.container {
    display: inline-block;
    background-size: 100%;
    padding-top: 60px;
    padding-left: 30px;
}

.column {
    float: left;
    width: 48%;
    /*this will perfectly center the images side by side*/
    padding-left: 15px;
}


/*add comment for this*/

.column img:nth-child(-n+7)
/*add comment for this*/

{
    margin: auto;
    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*add comment for this*/
    display: table;
    justify-content: center;
    /*add comment for this*/
}


/*add comment for this*/

.image-container {
    position: relative;
    background-color: transparent;
    /*add comment for this*/
    display: block;
    /*add comment for this*/
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    perspective: 1000px;
    /*add comment for this*/
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 180px;
}


/*add comment for this*/

#featured-image.column {
    background-color: rgb(149, 238, 223);
}

#chicken.column {
    background-color: rgb(149, 238, 223);
}

#pork.column {
    background-color: rgb(149, 238, 223);
}

#dessert.column {
    background-color: rgb(149, 238, 223);
}


/*add comment for this*/

.column img:nth-child(-n+7) {
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}


/*FEATURED RECIPE*/

#featured-header {
    font-family: "Sacramento", cursive;
    /*add comment for this*/
    font-size: 60px;
    color: rgb(0, 80, 67);
}


/*add comment for this*/

#featured-main-text {
    justify-content: center;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 30px;
    text-align: justify;
}


/*add comment for this*/

#featured-image.column .image-container img {
    width: 700px;
    height: auto;
    margin-left: -100px;
    margin-top: -30px;
}


/*IMAGE FLIP*/

.flip {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    /*add comment for this*/
}


/*add comment for this*/

.image-container:hover .flip {
    transform: rotateY(-180deg);
    /*add comment for this*/
}


/*add comment for this*/

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /*add comment for this*/
}


/*add comment for this*/

.flip-back {
    background-color: rgb(149, 238, 223);
    color: rgb(0, 0, 0);
    transform: rotateY(-180deg);
    margin: auto;
    border: 2px solid white;
}


/*add comment for this*/

.text-container {
    align-items: center;
    padding-top: 70px;
}


/*IMAGE FLIP BUTTON*/


/*add comment for this*/

input[type="button"] {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    font-family: "Josefin Slab", serif;
    /*add comment for this*/
    font-weight: bold;
    font-size: 22px;
    padding: 11px 17px;
    color: rgb(1, 128, 106);
    cursor: pointer;
}


/*add comment for this*/

.featured-button.input[type="button"] {
    background-color: black;
    align-items: center;
}


/*add comment for this*/

input[type="button"]:hover {
    background-color: rgb(247, 177, 188);
    color: #fff;
}


/*FOOTER*/

footer {
    align-items: center;
    margin: 0px -8px -8px -8px;
    background-color: rgb(1, 128, 106);
    border-top: 5px solid rgb(247, 177, 188);
    bottom: 0;
}

table {
    width: 100%;
}

td {
    text-align: center;
    width: 33%;
    /*add comment for this from the Pet Shop*/
}


/*add comment for this from the Pet Shop*/

td p {
    font-family: "Josefin Slab", serif;
    color: rgb(247, 177, 188);
}


/*FORM CSS*/


/*add comment for this*/

#contact.container {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

form {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    justify-content: center;
}


/*add comment for this*/

form input {
    border: 2px solid rgb(165, 165, 165);
    padding: 3px;
    margin: 10px 15px 10px 0px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 400;
    color: rgb(165, 165, 165);
    transition: color 0.3s ease-out;
}


/*changes the color of the input fields
  to blue from black when clicked on*/

form input:focus {
    box-sizing: border-box;
    border: 2px solid rgb(1, 128, 106);
    color: #000000;
    transition: 0.3s;
    outline: none;
}


/*add comment for this*/

label {
    font-family: "Josefin Slab", serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}


/*add comment for this*/

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid rgb(165, 165, 165);
    border-radius: 5px;
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(165, 165, 165);
    font-size: 15px;
    transition: color 0.3s ease-out;
    resize: both;
}


/*changes the color to blue from 
  black when clicked on*/

textarea:focus {
    box-sizing: border-box;
    color: black;
    border: 3px solid rgb(1, 128, 106);
    transition: 0.5s;
    outline: none;
}


/*add comment for this*/

input[type="submit"],
#featured-button {
    background-color: rgb(1, 128, 106);
    border: none;
    border-radius: 35px;
    font-family: "Josefin Slab", serif;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 25px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    float: right;
}


/*add comment for this*/

input[type="submit"]:hover,
#featured-button:hover {
    background-color: rgb(247, 177, 188);
    color: #fff;
    border: none;
}